<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<section>
    <center>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="text-center mb-3">Change your password</h1>
                            <form action="" th:action="@{/user/change-password}" method="post">
                                <!--old password-->
                                <div class="form-group text-left">
                                    <label class="text-info ">Old password:</label><br>
                                    <input type="password" class="form-control" placeholder="Enter old password"
                                           required name="oldpswd">
                                </div>
                                <!--new password-->
                                <div class="form-group text-left">
                                    <label class="text-info">New password:</label><br>
                                    <input type="password" class="form-control" placeholder="Enter new password"
                                           required name="newpswd">
                                </div>

                                <div class="container text-center">
                                    <button type="submit" class="btn btn-success">Change</button>
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
    <script>
        $(document).ready(()=>{
         $(".item").removeClass("active1");
         $("#settings-link").addClass("active1");
        });

    </script>
</section>
</body>
</html>



