<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<section>
    <div class="card mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center">Your Contacts</h1>
            <table class="table mt-3">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Profile</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${contacts}">
                    <th scope="row" th:text="${'SCM_USER_'+c.cId}">1</th>
                    <td>
                        <img src="" class="profile-pic" th:src="@{'/img/'+${c.image}}" alt="profile-photo">
                        <span th:text="${c.name}">Mark</span>
                    </td>
                    <td ><a href="" th:href="@{'/user/profile/'+${c.cId}}"><span th:text="${c.email}"></span></a></td>

                    <td th:text="${'+91-'+c.phone}"></td>
                    <td th:text="${'+91-'+c.phone}"></td>
                    <td style="color:white;"><a href="#" th:onclick="|deleteContact(${c.cId})|" ><i
                            class="far fa-trash-alt text-danger" style="font-size: 30px;"></i></a>
                        &nbsp
                        <a href="#" th:href="@{'/user/update-contact/'+${c.cId}}"><i
                                class="far fa-edit text-primary" style="font-size: 30px;"></i></a>
                    </td>


                </tr>
                </tbody>
            </table>
            <!-- Pagination-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li th:if="${currentpage!=0}" class="page-item">
                        <a class="page-link" href="#" th:href="@{'/user/view-contacts/'+${currentpage-1}}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li th:classappend="${currentpage == i-1 ? 'active':''}"
                        th:each="i : ${#numbers.sequence(1,totalpage)}" class="page-item"><a class="page-link"
                                                                                             th:href="@{'/user/view-contacts/'+${i-1}}"
                                                                                             href="#"><span
                            th:text="${i}"></span></a></li>

                    <li th:if="${currentpage+1!=totalpage}" class="page-item">
                        <a class="page-link" href="#" th:href="@{'/user/view-contacts/'+${currentpage+1}}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

</section>
</body>
</html>



