<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<section>
    <div class="container-fluid" id="signupcontainer">
        <div class="row">
            <div class="col-md-6 offset-md-6 mt-5">

                <div class="my-card">
                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert text-center"
                         role="alert">
                        <p style="font-weight: bold;" class="text-center" th:text="${session.message.content}"></p>
                        <!--print this one time-->
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                        <!--After printing it one time then remove-->
                    </div>
                    <div class="container text-center">
                        <img style="width: 50px;" src="" th:src="@{../img/register.png}" alt="">
                        <h4>Registration Form</h4>
                    </div>

                    <form novalidate action="" th:action="@{/register}" method="post" th:object="${user}">
                        <div class="row">
                            <div class="col-md-6 form-group mt-3">
                                <label>Name</label>
                                <input type="text" class="form-control "
                                       th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''} " name="name" required
                                       placeholder="Enter your name"
                                       th:value="${user.name}">
                                <!--If any error come in name field then this class 'is-invalid' appended with class and becomes class= "form-control is-invalid"-->
                                <div class="invalid-feedback" th:each="e : ${#fields.errors('name')} " th:text="${e}">
                                    <!--Displayed all the error which come in name filed one by one -->
                                </div>
                            </div>
                            <div class="col-md-6 form-group mt-3 ">
                                <label>Email</label>
                                <input type="email" class="form-control" th:classappend="${#fields.hasErrors('email')? 'is-invalid':''}" name="email" required
                                       placeholder="Enter your email" th:value="${user.email}">

                                <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}">

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 form-group ">
                                <label>Password</label>
                                <input type="password" class="form-control" th:classappend="${#fields.hasErrors('password') ? 'is-invalid':'' }" name="password" required
                                       placeholder="Enter your password" th:value="${user.password}">

                                <div class="invalid-feedback" th:each="e : ${#fields.errors('password')}" th:text="${e}"></div>
                            </div>

                            <div class="col-md-6 form-group">
                                <label>About</label>
                                <textarea class="form-control" th:classappend="${#fields.hasErrors('about') ? 'is-invalid':''}" name="about" rows="3" placeholder="Enter something about you"
                                          th:text="${user.about}"></textarea>

                                <div class="invalid-feedback" th:each="e : ${#fields.errors('about')}" th:text="${e}"></div>
                            </div>
                        </div>
                        <div class="form-group form-check text-center">
                            <input type="checkbox" name="agreement" class="form-check-input" id="agreement"/>
                            <label for="agreement">Accept Terms and Conditions</label>
                        </div>
                        <div class="container text-center">
                            <button type="submit" class="btn bg-primary btn-block text-white">Submit</button>
                            <button type="reset" class="btn btn-danger btn-block text-white">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>