<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<section>
    <div class="container-fluid" id="signupcontainer">
        <div class="row">
            <div class="col-md-5 offset-md-7">
                <div class="my-card mt-2">
                    <div class="container text-center">
                        <img style="width: 100px;" src="" th:src="@{../img/register.png}" alt="">
                    </div>

                    <form action="" th:action="@{/register}" method="post" th:object="${user}">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" required placeholder="Enter your name" th:value="${user.name}">

                        </div>
                        <div class="form-group  ">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" required placeholder="Enter your email" th:value="${user.email}">

                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" required placeholder="Enter your password" th:value="${user.password}">

                        </div>
                        <div class="form-group">
                            <label >About</label>
                            <textarea class="form-control" name="about" rows="5" placeholder="Enter something about you" th:value="${user.about}"></textarea>
                        </div>
                        <div class="form-group form-check text-center">
                            <input type="checkbox" name="agreement" class="form-check-input" id="agreement" />
                            <label for="agreement">Accept Terms and Conditions</label>
                        </div>
                        <div class="container text-center">
                            <button type="submit" class="btn bg-primary btn-block text-white">Submit</button>
                            <button type="reset" class="btn btn-danger btn-block text-white">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>